.btn {
    --btn-bg-color: var(--text-color-primary);
    --btn-color: var(--bg-color);

    background: var(--btn-bg-color);
    color: var(--btn-color);

    border: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    border-radius: .5rem;

    font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);
}

.btn:hover {
    background: linear-gradient(
        90deg,
        var(--brand-color-secondary),
        var(--brand-color-primary)
    );
    color: var(--surface-color);
}

.btn-sm { padding: .5rem 1rem; font-size: var(--fs-sm); }
.btn-md { padding: .75rem 1.5rem; font-size: var(--fs-base); }
.btn-lg { padding: 1rem 2rem; font-size: 1.125rem; }

.btn[aria-label] {
    position: relative;
    overflow: hidden;
}

.btn[aria-label]::before {
    content: "";
    position: absolute;
    inset: 0.09375rem;
    background-color: var(--bg-color);
    border-radius: inherit;
}

.btn[aria-label]::after {
    content: attr(aria-label);
    z-index: 2;
    position: relative;

    background: linear-gradient(
        90deg,
        var(--brand-color-secondary),
        var(--brand-color-primary)
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (width >= 80em) {
    .btn-sm {
        padding: .75rem 1.5rem;
        font-size: var(--fs-base);
    }

    .btn-md {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
}
