#hero {
    text-align: center;
}

#hero img[src*="music"] {
    width: 12.875rem;
}

#hero h1 {
    margin-top: 1.5rem;
}

#hero p {
    margin-top: 1rem;
    font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
    color: var(--text-color-secondary);
}

#hero .buttons {
    margin-top: 2rem;
    justify-content: center;
}

@media (width >= 80em) {
    #hero {
        background: url(/assets/icons/bg-hero.svg) no-repeat bottom center/contain;
    }

    #hero img[src*="music"] {
        width: 25.75rem;
    }

    #hero p {
        font-size: 2.5rem;
    }
}
