a.social {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-size: cover;
}

a[aria-label="tiktok"]     { background-image: url(/assets/icons/ic_baseline-tiktok.svg); }
a[aria-label="discord"]    { background-image: url(/assets/icons/ic_baseline-discord.svg); }
a[aria-label="twitter"]    { background-image: url(/assets/icons/ri_twitter-x-fill.svg); }
a[aria-label="instagram"]  { background-image: url(/assets/icons/mdi_instagram.svg); }
